.products {
    max-width: 1028px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.product_item {
    min-width: 300px;
    position: relative;
    width: 30%;
   
    border: #DDDADA solid 1px;
    border-radius: 7px;
    box-shadow: 0 0 10px #dddada;
    margin-bottom: 40px;
}





.img_product {
    width: 100%;
    text-align: center;
}

.content_product {
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}


img.img_card {
    /* width: 200px; */
    height: 200px
}

.nameing {
    text-align: center;
}